<%- include ("partials/header") %>
<link rel="stylesheet" href="/css/dashboard.css" />


<div class="container_dashboard">
    
    
    <div class="menu_dashboard">
        <h2 class="user_name"><%= locals.user.username %></h2>

        <ul class="dashboard_links">
            <!-- <li class="profile_link">
                
                <span class="material-symbols-outlined">person</span>
                Profil
            </a>
        </li> -->
        <li class="add_recipe">
            
            <a href="/admin/ajouterunerecette">
                <span class="material-symbols-outlined">add</span>
                Ajouter une recette
            </a>
            
        </li>
        </ul>
    </div>

    <div class="right_side">
        <h2 class="subtitle">Les 10 dernières recettes mises en ligne</h2>
        <div class="info_list">
            
            <% dashboardRecipes.forEach(recipe => { %>
                
                <div class="manage_list">
                    <div class="list_mobile">
                        <div class="user">
                            Auteur : <%= recipe.user.username %>
                        </div>
                        <div class="recipe_title">
                            <%= recipe.title %>
                        </div>
                        <div class="date">
                            <%= recipe.createdAt %>
                        </div>
                    </div>
                    <a class="mobile_button" href="/recettes/<%= recipe.id %>/<%= recipe.title %>">
                        <button class="edit_button" type="button" hre>Voir la recette</button>
                    </a>
                    <a class="mobile_button" href="/admin/supprimerunerecette/<%= recipe.id %>">
                        <button class="edit_button" type="button" hre>Supprimer la recette</button>
                    </a>
                </div>

                <% }); %>
                
                <div class="message">

                    <% if (locals.message) { %>
                        <span><%= locals.message %></span>
                    <% } %>
                    
                </div>
        </div>
    </div>
</div>


<%- include ("partials/footer") %>