<%- include ("partials/header") %>

<link rel="stylesheet" href="css/recipes.css" />


<div class="container">

  <% recipes.forEach((recipe) => { %>

  <div class="carte">


    <div class="divImg">
      <img src="img/recipes/<%= recipe.picture %>" alt="recipes">
    </div>

    <div class="titre"> <%= recipe.title %> </div>

    <div class="tab">
      <img src="/img/sablier.svg" alt="sablier" class="icone" />
      <span><%= recipe.cookingTime %> min</span>
    </div>
    <div class="tab">
      <div id="rate"><span><%= recipe.rate %></span> &#x2605;
        
      </div> 
        </div>
    <div class="tab">
      <img src="/img/difficulty.svg" alt="difficulty" class="icone" />
      <span><%= recipe.difficulty %> </span>
    </div>

    <div class="info">
      <p> <%= recipe.description %> </p>
    </div>

    <div class="btnSection">
      <a href="/recettes/<%= recipe.id %>/<%= recipe.title %>">La recette</a>


    </div>
  </div>
  <% }) %>

</div>


<%- include ("partials/footer") %>